<style type="text/css">

/*#roundDetails
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;

}*/

#roundDetails
{
	border: 1px solid black;
	padding: 10px;
}

#tableRound, th, td
{
	border: 1px solid black;
}

</style>

<br/>

<div id="roundDetails" class="container" ng-controller="TournamentController" ng-init="tournamentID=12760596;fetch_tournament(12760596);fetch_tournaments()">
	<!-- <span id="roundDetails">Round Details</span> -->
	<h1>Round Details</h1>

	<ol>
      <li ng-repeat="entry in tournaments">
        {{entry.description}}, {{entry.created}}, {{entry.tournamentID}}
      </li>
    </ol>
	<input type="submit" value="Fetch Tournament" ng-click="fetch_tournament(12760596)"><br>
idididid {{tournament.tournamentID}}

	<table id="tableRound">
		<th>Round Title</th>
		 <th>Duration(mins)</th> 
		<th>Number of Questions</th>
		 <th><input type="submit" id="btnAddRound" ng-click="add_round(tournamentID)" value="+"></th>

		<tr ng-repeat="entry in tournament.rounds">
			<td>{{entry.description}}</td>
			<td>{{entry.timelimit}}</td>
			<td>{{entry.problemIDs.length}}</td>
			<td>
				<input type="submit" value="Edit Round" ng-click="fetch_round(entry.roundID)">
				<input type="submit" value="Delete Round">
			</td>
		</tr>
	</table>
	
	<div style="text-align:right;">
		<input type="submit" id="btnFinalize" value="Finalize Tournament">
	</div>
</div>